h1{
    padding: 20px 10px;
    font-size: 40px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #facc15;
    justify-content: space-between;
    text-align: center;
}

.menuNav{
    font-weight: 200;
    font-size: 25px;
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}