<div class="main">
    <div class="footer" style="height: 30px;">
    </div>
    <div class="skill-container">
        <h1 id="skill-heading-container">Skills.</h1>
        <div class="skill-list">
            <div class="skill-detail-container" *ngFor="let skill of skills">
                <div class="skill-image-name-container">
                    <img [src]="skill.skillImage" [alt]="skill.skillName" class="skill-image">
                    <div id="skill-name-container">{{ skill.skillName }}</div>
                </div>
            </div>
        </div>
        <div class="nav-button-container">
            <button mat-icon-button aria-label="Previous">
                <mat-icon>chevron_left</mat-icon>
            </button>

            <!-- Right Arrow Button -->
            <button mat-icon-button aria-label="Next">
                <mat-icon>chevron_right</mat-icon>
            </button>
        </div>
    </div>
</div>