.main {
    color: #fff;
    font-family: poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
    position: fixed;
    left: 150px;
    top: auto;
}

.skill-container {
    display: flex;
    flex-direction: column;
    /* min-height: 600px; */
    width: 1200px;
    border: 1px solid #7b7a7a;
    border-radius: 10px;
    gap: 80px;
    align-items: center;
    padding: 30px;
    overflow: hidden;
}

.skill-container:hover {
    border: 1px solid orangered;
    transition: 1s;
}

.skill-list-wrapper {
    width: 100%;
    overflow: hidden;
}

.skill-list {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    gap: 70px;
    transition: transform 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
    min-width: max-content;
}

.skill-detail-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    align-items: center;
    border: 1px solid #7b7a7a;
    border-radius: 10px;
    padding: 30px;
    height: 130px;
    width: 110px;
}

.skill-image-name-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.skill-image-name-container img {
    border: 1px solid #7b7a7a;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

#skill-heading-container {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0px;
}

.nav-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.nav-button-container button {
    border: 1px solid #7b7a7a;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    /* background-color:; */
}

.nav-button-container button:hover {
    border: 2px solid orangered;
    transition: 1s;
    color: orangered;
    cursor: pointer;

}

.footer-button-container button:hover {
    border: 2px solid orangered;
    color: orangered;
    cursor: pointer;
}

#skill-name-container {
    font-size: 18px;
    font-weight: bold;
}

#home-nav-container {
    border-radius: 50%;
}

.footer-button-container button {
    border: 1px solid #7b7a7a;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-detail-container.active img {
    border: 2px solid orangered;
}

.skill-detail-container.active {
    border: 2px solid orangered;
    box-shadow: 0 0 15px rgba(255, 69, 0, 0.4);
}

.page-container{
    border:2px solid #7b7a7a;
    border-radius: 50%;
    display: flex;
}