<div *ngIf="isContactUsClicked" class="contact-us-social-media-container">
    <div class="close-button-container">
        <button mat-icon-button aria-label="Close dialog" (click)="closeContactMe()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="contact-details-container">
        <a *ngIf="githubURL" href="{{githubURL}}" target="_blank">
            <img src="assets/githublogo.jpg" alt="Github">
        </a>
        <a *ngIf="linkedInURL" href="{{linkedInURL}}" target="_blank">
            <img src="assets/linkedinlogo.jpg" alt="LinkedIn">
        </a>
        <a *ngIf="phoneNo" href="tel:{{phoneNo}}">
            <img src="assets/phonelogo.jpg" alt="Phone">
        </a>
        <a *ngIf="mailId" href="mailTo:{{mailId}}">
            <img src="assets/maillogo.jpg" alt="Mail">
        </a>
    </div>
</div>
<div class="about-me" [ngClass]="{'blur-background': isContactUsClicked}">
    <div class="home-header">
        <div class="portfolio">
            Portfolio<span id="spandot">.</span>
        </div>
        <div class="headerItems">
            <div id="about" (click)="navigateOnClick('about-me')">About</div>
            <div id="experience" (click)="navigateOnClick('experience')">Experience</div>
            <div id="skills" (click)="navigateOnClick('skills')">Skills</div>
            <div id="projects" (click)="navigateOnClick('projects')">Projects</div>
            <div id="contactUs" (click)="openContactMe()">Contact Me</div>
        </div>
        <div class="hire-me-button-container">
            <button class="button" type="submit">Hire Me !</button>
        </div>
    </div>
    <div class="body">
        <div class="about-me-container">
            <h1 id="greetings-container">Hi, I am</h1>
            <div class="name-container">
                <div class="firstName">Gokul</div>
                <div class="lastName">Krishnan</div>
            </div>
            <div class="role-skills-container">
                <div class="role-container">Fullstack Developer</div><span class="arrow-span-container">|</span>
                <div class="skills-container">Java</div><span class="arrow-span-container">|</span>
                <div class="skills-container">Angular</div><span class="arrow-span-container">|</span>
                <div class="skills-container">Springboot</div><span class="arrow-span-container"></span>
            </div>
            <div class="profile-summary-container">
                <p id="profile-summary">
                    Software Engineer skilled in building scalable and efficient backend applications using Java, Spring
                    Boot, Kafka, SQL, and NoSQL databases. Familiar with frontend technologies like HTML, CSS,
                    JavaScript, and Angular, enabling seamless integration between frontend and backend systems.
                    Passionate about clean architecture, problem-solving, and developing reliable software solutions
                    with a focus on performance and maintainability.
                </p>
            </div>
            <div class="download-preview-button-container">
                <button type="button" class="button" (click)="previewPDF()">Preview CV</button>
                <button type="button" class="button" (click)="downloadDocument()">Download CV</button>
            </div>
            <div class="social-media-container">
                <a *ngIf="githubURL" href="{{githubURL}}" target="_blank">
                    <img src="assets/githublogo.jpg" alt="Github">
                </a>
                <a *ngIf="linkedInURL" href="{{linkedInURL}}" target="_blank">
                    <img src="assets/linkedinlogo.jpg" alt="LinkedIn">
                </a>
                <a *ngIf="phoneNo" href="tel:{{phoneNo}}">
                    <img src="assets/phonelogo.jpg" alt="Phone">
                </a>
                <a *ngIf="mailId" href="mailTo:{{mailId}}">
                    <img src="assets/maillogo.jpg" alt="Mail">
                </a>
            </div>
        </div>
        <div class="homeImage">
            <img src="assets/homeImage.png" alt="homeImage">
        </div>
    </div>
</div>