<div class="about-me">
    <div class="contact-hire-container" *ngIf="isFormClicked">
        <form class="contact-hire-from-container">
            <div class="form-header-container">
                <div class="header-content-container">
                    <h2>Contact Me!</h2>
                    <p>Fill the form and I'll get back to you.</p>
                </div>
                <div class="form-close-button-container"> <button mat-icon-button>
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <div class="form-body-container">
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
                <label for="contactNumber">Contact Number</label>
                <input type="text" id="contactNumber" name="contactNumber"><br>
                <label for="subject">Subject</label><br>
                <input type="text" id="subject" name="subject"><br>
                <label for="message">Message</label><br>
                <input type="text" id="message" name="message">
            </div>
            <div class="form-footer-container">
                <div class="cancel-div-container">
                    Cancel
                </div>
                <div class="send-message-container">
                    Send Message
                </div>
            </div>
        </form>
    </div>
    <div class="home-header">
        <div class="portfolio">
            Portfolio<span id="spandot">.</span>
        </div>
        <div class="headerItems">
            <div id="about" (click)="navigateOnClick('about-me')">About</div>
            <div id="experience" (click)="navigateOnClick('experience')">Experience</div>
            <div id="skills" (click)="navigateOnClick('skills')">Skills</div>
            <div id="projects" (click)="navigateOnClick('projects')">Projects</div>
            <div id="contactUs">Contact Me</div>
        </div>
        <!-- <div class="hire-me-button-container">
            <button class="button" type="submit">Hire Me !</button>
        </div> -->
    </div>
    <div class="body">
        <div class="about-me-container">
            <h1 id="greetings-container">Hi, I am</h1>
            <div class="name-container">
                <div class="firstName">Gokul</div>
                <div class="lastName">Krishnan</div>
            </div>
            <div class="role-skills-container">
                <div class="role-container">Fullstack Developer</div><span class="arrow-span-container">|</span>
                <div class="skills-container">Java</div><span class="arrow-span-container">|</span>
                <div class="skills-container">Angular</div><span class="arrow-span-container">|</span>
                <div class="skills-container">Springboot</div><span class="arrow-span-container"></span>
            </div>
            <div class="profile-summary-container">
                <p id="profile-summary">
                    Software Engineer skilled in building scalable and efficient backend applications using Java, Spring
                    Boot, Kafka, SQL, and NoSQL databases. Familiar with frontend technologies like HTML, CSS,
                    JavaScript, and Angular, enabling seamless integration between frontend and backend systems.
                    Passionate about clean architecture, problem-solving, and developing reliable software solutions
                    with a focus on performance and maintainability.
                </p>
            </div>
            <div class="download-preview-button-container">
                <button type="button" class="button" (click)="previewPDF()">Preview CV</button>
                <button type="button" class="button" (click)="downloadDocument()">Download CV</button>
            </div>
            <div class="social-media-container">
                <a *ngIf="githubURL" href="{{githubURL}}" target="_blank">
                    <img src="assets/githublogo.jpg" alt="Github">
                </a>
                <a *ngIf="linkedInURL" href="{{linkedInURL}}" target="_blank">
                    <img src="assets/linkedinlogo.jpg" alt="LinkedIn">
                </a>
                <a *ngIf="phoneNo" href="tel:{{phoneNo}}">
                    <img src="assets/phonelogo.jpg" alt="Phone">
                </a>
                <a *ngIf="mailId" href="mailTo:{{mailId}}">
                    <img src="assets/maillogo.jpg" alt="Mail">
                </a>
            </div>
        </div>
        <div class="homeImage">
            <img src="assets/homeImage.png" alt="homeImage">
        </div>
    </div>
</div>