<div class="about-me">
    <div class="home-header">
        <div class="portfolio">
            Portfolio<span id="spandot">.</span>
        </div>
        <div class="headerItems">
            <div id="about">About</div>
            <div id="experience">Experience</div>
            <div id="skills">Skills</div>
            <div id="projects">Projects</div>
            <div id="contactUs">Contact Us</div>
        </div>
        <div class="hire-me-button-container">
            <button id="hireMe" type="submit">Hire Me !</button>
        </div>
    </div>
    <div class="body">
        <div class="about-me-container">
            <h3>Hi, I am</h3>
        </div>
        <div class="homeImage">
                <!-- <img src="assets/homeImage.png" alt="homeImage"> -->
        </div>
    </div>
</div>